<div class="about blackOps">
  <p>Global Disaster Tracker is a site dedicated to unstoppable acts of nature!</p>
  <p>If you have not experienced a terrible unforseen tragedy in a while then you are definitely due for one, GET EXCITED!</p>
</div>
